* {
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    background-color: lightsalmon;
}
<<<<<<< HEAD

table{
    margin-right: auto;
    margin-left: auto;
=======
table{
    margin-right: auto;
    margin-left: auto;
    
    
>>>>>>> origin/master-2
}